<div class="blog-card d-md-flex">
	<a href="#" class="blog-card__img">
		<img src="@@img" alt="">
	</a>
	<div class="blog-card__content">
		<div class="blog-card__brand c-brand mb-md-1 mt-xl-1">@@brand</div>
		<div class="blog-card__head">
			<div class="blog-card__title mb-xl-3 mb-2"><a href="#">@@title</a></div>
			<div class="blog-card__text">@@text</div>
		</div>
		<div class="blog-card__panel d-flex mt-auto pt-2">
			<span class="c-date ">
				<svg class="icon icon-calendar me-1">
					<use xlink:href="img/sprite.svg#calendar"></use>
				</svg>
				18.10.2022
			</span>
			<div class="likes ms-auto ">
				<button class="like-btn me-lg-2 me-1">
					<svg class="icon icon-like">
						<use xlink:href="img/sprite.svg#like"></use>
					</svg>
					3
				</button>
				<button class="dislike-btn  ">
					<svg class="icon icon-dislike">
						<use xlink:href="img/sprite.svg#dislike"></use>
					</svg>
					4
				</button>
			</div>
			<button class="reply-btn ms-lg-5 ms-2">
				<svg class="icon icon-reply">
					<use xlink:href="img/sprite.svg#reply"></use>
				</svg>
				<span class="hidden-laptop">Комментировать</span>
			</button>
		</div>
	</div>
</div>