<div class="box-fixed box-fixed--not-foot" data-box-fixed="3">
	<div class="box-fixed__overlay _box-fixed-toggle" data-box-fixed-toggle="3"></div>
	<div class="box-fixed__container">
		<div class="box-fixed__head">
			<div class="box-fixed__title">Категории</div>
			<div class="box-fixed__close _box-fixed-toggle" data-box-fixed-toggle="3">
				<svg class="icon icon-close">
					<use xlink:href="img/sprite.svg#close"></use>
				</svg>
			</div>
		</div>
		<div class="box-fixed__body scrollbar">
			<div class="sbox ">
				<ul class="sbox__list">
					<li class="sbox__list-item sbox__list-drop ">
						<span>Обувь</span>
						<ul class="sbox__list sbox__dropdown">
							<li class="sbox__list-item"><a href="#">Все</a></li>
							<li class="sbox__list-item sbox__list-drop ">
								<span>Ботинки и Челси</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Туфли и лоферы</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Кеды</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Кроссовки</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item"><a href="#">Сандалии</a></li>
							<li class="sbox__list-item"><a href="#">Шлепанцы</a></li>
						</ul>
					</li>
					<li class="sbox__list-item sbox__list-drop">
						<span>Сумки</span>
						<ul class="sbox__list sbox__dropdown">
							<li class="sbox__list-item"><a href="#">Все</a></li>
							<li class="sbox__list-item sbox__list-drop ">
								<span>Ботинки и Челси</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Туфли и лоферы</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Кеды</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item sbox__list-drop">
								<span>Кроссовки</span>
								<ul class="sbox__sublist sbox__dropdown">
									<li><a href="#">Сапоги</a></li>
									<li><a href="#">Ботинки</a></li>
									<li><a href="#">Челси</a></li>
									<li><a href="#">Полуботинки</a></li>
								</ul>
							</li>
							<li class="sbox__list-item"><a href="#">Сандалии</a></li>
							<li class="sbox__list-item"><a href="#">Шлепанцы</a></li>
						</ul>
					</li>
					<li class="sbox__list-item"><a href="#">Аксессуары</a></li>
					<li class="sbox__list-item"><a href="#">Одежда</a></li>
					<li class="sbox__list-item sbox__list-item--selected "><a href="#">Vegan</a></li>
					<li class="sbox__list-item sbox__list-item--selected"><a href="#">На платформе</a></li>
					<li class="sbox__list-item sbox__list-item--selected"><a href="#">Принтовые</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>