<a href="#" class="collections-card">
	<div class="collections-card__img">
		<img src="@@img" alt="">
	</div>
	<div class="collections-card__body">
		<div class="collections-card__title">@@title</div>
		<div class="collections-card__details cc-details">
			<div class="cc-details__item ">
				<div class="cc-details__label">Бренд: </div>
				<div class="cc-details__labeled">Dr.Martens</div>
			</div>
			<div class="cc-details__item ">
				<div class="cc-details__label">Подколлекция: </div>
				<div class="cc-details__labeled">THE ICONS</div>
			</div>
			<div class="cc-details__item ">
				<div class="cc-details__label">Линейка: </div>
				<div class="cc-details__labeled">CORE PRINT</div>
			</div>
		</div>
	</div>
</a>