<div class="cookie swipe-block">
	<div class="container-fluid">
		<div class="cookie__wrapper">
			<p class="cookie__text">Этот веб-сайт использует cookies для улучшения взаимодействия с пользователем при посещении веб-сайта. Файлы cookie - это небольшие файлы, которые могут быть сохранены на компьютере пользователя или мобильном устройстве, которые отслеживают, сохраняют и хранят информацию о взаимодействиях пользователя и использовании веб-сайта. Это позволяет веб-сайту через его сервер предоставлять пользователям индивидуальный подход к этому веб-сайту.</p>
			<div class="cookie__buttons">
				<a href="#" class="btn">Не соглашаюсь</a>
				<a href="#" class="btn btn--warning">Соглашаюсь</a>
			</div>
		</div>
	</div>
</div>