<div class="filter-fixed ">
	<div class="filter-fixed__overlay _filter-toggle"></div>
	<div class="filter-fixed__container">
		<div class="filter-fixed__head">
			<div class="filter-fixed__title">Фильтр</div>
			<div class="filter-fixed__close _filter-toggle">
				<svg class="icon icon-close">
					<use xlink:href="img/sprite.svg#close"></use>
				</svg>
			</div>
		</div>
		<div class="filter-fixed__body scrollbar">

		</div>

		<div class="filter-fixed__buttons visible-md">
			<button type="button" class="btn btn--block btn--dark">Применить</button>
			<button type="button" class="btn btn--block">Очистить </button>
		</div>
	</div>
</div>