<ul class="order-crumbs visible-iphone">
	<li class="order-crumbs__item @@if(crumbs == 0 || crumbs == 4 || crumbs == 3 || crumbs == 2 || crumbs == 1) {active}">
		<span>Корзина</span>
	</li>
	<li class="order-crumbs__item @@if(crumbs == 1 || crumbs == 4 || crumbs == 3 || crumbs == 2) {active}">
		<span>Данные</span>
	</li>
	<li class="order-crumbs__item @@if(crumbs == 2 || crumbs == 4 || crumbs == 3 ) {active}">
		<span>Доставка</span>
	</li>
	<li class="order-crumbs__item @@if(crumbs == 3 || crumbs == 4  ) {active}">
		<span>Оплата</span>
	</li>
	<li class="order-crumbs__item @@if(crumbs == 4 ) {active}">
		<span>Заказ</span>
	</li>
</ul>