<div class="products products-slider @@if(inside_tab == true) {tab-wrap__products-slider}">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/products-slider-img1.png" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--new"><img src="img/new.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">
						<span class="btn-favorites">
							<svg class="icon icon-star">
								<use xlink:href="img/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star-filled">
								<use xlink:href="img/sprite.svg#star-filled"></use>
							</svg>
						</span>
						<div class="product-card__brand">DR.MARTENS</div>
						<div class="product-card__title"><a href="#">1460 Pascal Hardware Black Virginia</a></div>
						<div class="product-card__price">

							<div class="price-value">17800 грн.</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="product-card ">
					<div class="product-card__img">
						<a href="#"><img src="img/products/products-slider-img2.png" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--new"><img src="img/new.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">
						<span class="btn-favorites active">
							<svg class="icon icon-star">
								<use xlink:href="img/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star-filled">
								<use xlink:href="img/sprite.svg#star-filled"></use>
							</svg>
						</span>
						<div class="product-card__brand">DR.MARTENS</div>
						<div class="product-card__title"><a href="#">1460 Pascal Black Vintage Smooth</a></div>
						<div class="product-card__price">
							<div class="price-value">14600 грн.</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/products-slider-img3.png" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--sale"><img src="img/sale.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">
						<span class="btn-favorites">
							<svg class="icon icon-star">
								<use xlink:href="img/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star-filled">
								<use xlink:href="img/sprite.svg#star-filled"></use>
							</svg>
						</span>
						<div class="product-card__brand">DR.MARTENS</div>
						<div class="product-card__title"><a href="#">3989 YS Black Smooth</a></div>
						<div class="product-card__price">
							<div class="price-old">22100 грн.</div>
							<div class="price-value text-danger">19999 грн.</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/products-slider-img4.png" alt=""></a>
					</div>
					<div class="product-card__body">
						<span class="btn-favorites">
							<svg class="icon icon-star">
								<use xlink:href="img/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star-filled">
								<use xlink:href="img/sprite.svg#star-filled"></use>
							</svg>
						</span>
						<div class="product-card__brand">DR.MARTENS</div>
						<div class="product-card__title"><a href="#">2976 Fur Black Ambassador</a></div>
						<div class="product-card__price">
							<div class="price-value">14450 грн.</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="product-card ">
					<div class="product-card__img">
						<a href="#"><img src="img/products/products-slider-img2.png" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--new"><img src="img/new.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">
						<span class="btn-favorites active">
							<svg class="icon icon-star">
								<use xlink:href="img/sprite.svg#star"></use>
							</svg>
							<svg class="icon icon-star-filled">
								<use xlink:href="img/sprite.svg#star-filled"></use>
							</svg>
						</span>
						<div class="product-card__brand">DR.MARTENS</div>
						<div class="product-card__title"><a href="#">1460 Pascal Black Vintage Smooth</a></div>
						<div class="product-card__price">
							<div class="price-value">14600 грн.</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="products-slider-prev swiper-button-prev">
		<svg class="icon icon-swiper-arrow">
			<use xlink:href="img/sprite.svg#swiper-arrow"></use>
		</svg>
	</div>
	<div class="products-slider-next swiper-button-next">
		<svg class="icon icon-swiper-arrow">
			<use xlink:href="img/sprite.svg#swiper-arrow"></use>
		</svg>
	</div>
</div>