<div class="together-cheaper-slider">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">3989 YS Black Smooth</a></div>
						<div class="product-card__price">

							<div class="price-value ">4680 грн.</div>
						</div>
					</div>
				</div>

				<div class="together-cheaper-slider__symbol">
					<svg class="icon icon-plus">
						<use xlink:href="img/sprite.svg#plus"></use>
					</svg>
				</div>
				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">3989 YS Black Smooth</a></div>
						<div class="product-card__price">

							<div class="price-value ">4680 грн.</div>
						</div>
					</div>
				</div>

				<div class="together-cheaper-slider__symbol">
					<svg class="icon icon-plus">
						<use xlink:href="img/sprite.svg#plus"></use>
					</svg>
				</div>

				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
						<div class="product-card__stickers"><span class="sticker"><img src="img/new.png" alt=""></span></div>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">Поясная сумка Converse Invision Black</a></div>
						<div class="product-card__price">
							<div class="price-value">2180 грн.</div>
						</div>
					</div>
				</div>

				<div class="together-cheaper-slider__symbol">
					<svg class="icon icon-equals">
						<use xlink:href="img/sprite.svg#equals"></use>
					</svg>
				</div>

				<div class="product-card product-card--gift">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--gift"><img src="img/gift.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">СУМКА CONVERSE TWISTED
								VARSITY CROSS BODY 2 BLACK</a></div>
						<div class="product-card__price">
							<div class="price-old">950 грн.</div>
							<div class="gift-value">В подарок!</div>
						</div>


					</div>
				</div>
			</div>
			<div class="swiper-slide">


				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
						<div class="product-card__stickers"><span class="sticker"><img src="img/new.png" alt=""></span></div>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">Поясная сумка Converse Invision Black</a></div>
						<div class="product-card__price">
							<div class="price-value">2180 грн.</div>
						</div>
					</div>
				</div>

				<div class="together-cheaper-slider__symbol">
					<svg class="icon icon-plus">
						<use xlink:href="img/sprite.svg#plus"></use>
					</svg>
				</div>

				<div class="product-card">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
					</div>
					<div class="product-card__body">
						<div class="product-card__title"><a href="#">3989 YS Black Smooth</a></div>
						<div class="product-card__price">

							<div class="price-value ">4680 грн.</div>
						</div>
					</div>
				</div>

				<div class="together-cheaper-slider__symbol">
					<svg class="icon icon-equals">
						<use xlink:href="img/sprite.svg#equals"></use>
					</svg>
				</div>

				<div class="product-card product-card--gift">
					<div class="product-card__img">
						<a href="#"><img src="img/products/catalog-img2.jpg" alt=""></a>
						<div class="product-card__stickers">
							<span class="sticker sticker--gift"><img src="img/gift.png" alt=""></span>
						</div>
					</div>
					<div class="product-card__body">


						<div class="product-card__title"><a href="#">СУМКА CONVERSE TWISTED
								VARSITY CROSS BODY 2 BLACK</a></div>
						<div class="product-card__price">
							<div class="price-old">950 грн.</div>
							<div class="gift-value">В подарок!</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="together-cheaper-slider-prev swiper-button-prev">
		<svg class="icon icon-swiper-arrow">
			<use xlink:href="img/sprite.svg#swiper-arrow"></use>
		</svg>
	</div>
	<div class="together-cheaper-slider-next swiper-button-next">
		<svg class="icon icon-swiper-arrow">
			<use xlink:href="img/sprite.svg#swiper-arrow"></use>
		</svg>
	</div>
</div>