
/* SOLE PAGE ========= */
.learn-block
	background: #eaeaec
	padding: 7.3rem 4rem
	text-align: center
	overflow: hidden
	margin-bottom: 10rem
	&__head
		margin-bottom: 6rem
		h1
			font-size: 5.5rem

.slick-paging
	display: flex
	align-items: center
	justify-content: space-between
	max-width: 109.5rem
	margin-left: auto
	margin-right: auto

	h1
		margin: 0 3rem

	.learn-slider-prev,
	.learn-slider-next
		border: none
		padding: 0
		font-size: 0
		position: static
		background-color: transparent
		.icon
			font-size: 5rem

.learn-slider

	.swiper-container
		overflow: visible

	.slick-dots
		margin-top: 2.5rem
		button
			background: $color
			border: none
		.slick-active button
			background: #e0a81f
	&__item
		padding-left: 1rem
		padding-right: 1rem

		+min(992px)
			&.swiper-slide-active
				.learn-slider__content
					opacity: 1
					visibility: visible
	&__img
		img
			margin: 0 auto

	&__content
		margin-top: 4.5rem
		+min(992px)
			opacity: 0
			visibility: hidden
			transition: opacity 0.3s linear, visibility 0.3s linear
	&__title
		font-size: 3.8rem
		font-weight: 700
		text-transform: uppercase
		font-family: 'Oswald', sans-serif
		line-height: 1
		margin-bottom: 1.6rem
	&__text
		line-height: 1.9
		font-size: 1.8rem

.promo
	padding: 9rem
	font-size: 1.8rem
	line-height: 1.9
	background-size: cover
	margin-bottom: 10rem
	background-position: 21% center
	background-repeat: no-repeat

	&__wrap
		max-width: 66rem
		+margin

		h1,h2
			font-size: 8rem
			line-height: 1
			margin-bottom: 1rem

.size-block-wrap

	justify-content: space-between
	&__item
		margin-bottom: 8rem
		+min(1601px)
			max-width: 46% !important
			flex: 0 0 46% !important
.size-block
	&__item
		margin-bottom: 4rem
		&:last-child
			margin-bottom: 0
	&__img
		img
			margin: 0 auto
	p
		font-size: 1.8rem
		line-height: 1.9
		margin-bottom: 2rem
	.article-list li
		font-size: 1.6rem
		line-height: 1.9
.article-list
	li
		padding-left: 1.6rem
		position: relative

		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 1rem
			width: .7rem
			height: .7rem
			border-radius: 50%
			background: #131313
.article-table
	width: 100%
	th
		background: #3c3c3c
		color: #fff
		text-transform: uppercase
		font-weight: 700
		font-size: 1.3rem
		text-align: center
		padding: .5rem 1rem
	td
		text-align: center
		font-size: 1.3rem
		padding: .5rem 1rem

	tr:nth-child(odd)
		td
			background: #f2f2f2
	tr:hover td
		background: #d9d9d9

+max(1600px)
	/* COLLECTION PAGE */

	.banner
		margin-bottom: 7rem
		padding: 6rem
		min-height: 45rem
		&__title
			font-size: 7rem

	.collection
		font-size: 1.5rem
		margin-bottom: 7rem
		h1, h2
			font-size: 5rem
		&-wrap
			&__img
				max-width: 45rem

	.collections-cat

		&-lg
			&__wrap
				align-items: center
			&__img
				width: 40%
				img
					max-height: 35rem
			&__title
				font-size: 5rem
			&__text
				font-size: 1.4rem

		&-full
			padding: 6rem
			&__body
				max-width: 55%
			&__title
				font-size: 5rem
			&__text
				font-size: 1.4rem

		&-long
			padding: 6rem
			&__title
				font-size: 5rem
			&__text
				font-size: 1.4rem
			&__img
				max-width: 30rem

	.learn-block
		margin-bottom: 7rem

	.learn-slider__text
		font-size: 1.5rem
	.promo
		padding: 6rem
		margin-bottom: 7rem
		font-size: 1.5rem

		&__wrap
			max-width: 50rem
			h1, h2
				font-size: 7rem

	.size-block p, .size-block .article-list li
		font-size: 1.5rem

+max(1500px)
	/* COLLECTION PAGE */

	.banner-img-1
		background-position: 40% center
	.banner-img-2
		background-position: 25% center
	.banner-img-3
		background-position: 20% center

	.promo
		&__wrap
			h1,h2
				font-size: 5.3rem

+max($laptop)

	.banner
		margin-bottom: 7rem
		min-height: 35rem
		padding: 5rem
		&__title
			font-size: 5.3rem

	.collection
		&-wrap
			display: block
			margin-bottom: 0
			&__img
				margin-left: 0
				max-width: none
	.collections-cat
		&-lg
			position: static
			&__wrap
				&:after
					display: none

		&-full
			padding: 5rem
			&__body
				max-width: 65%
		&-long
			display: block

			padding: 4rem
			&__img
				float: right
				padding: 0
				margin: 0 0 3rem 3rem

	.promo
		padding: 5rem
		background-position: 35% center
		&__wrap
			max-width: 45rem
