<div id="popup-add-product" class="popup " >
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title ">Добавьте 3 акционных товара</div>
			</div>
			
			<div class="popup__scroll add-product-scroll scrollbar">
				<div class="row no-gutters products">
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img1.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">1460 Pascal Hardware Black Virginia</div>
								<div class="product-card__price">
									<div class="price-value">17800 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img2.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">3989 YS Black Smooth</div>
								<div class="product-card__price">
									<div class="price-old">22400 грн.</div>
									<div class="price-value text-danger">19999 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img3.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img4.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img5.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img6.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card ">
							<div class="product-card__img">
								<img src="img/products/catalog-img7.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xxl-4">
						<div class="product-card _add-product">
							<div class="product-card__img">
								<img src="img/products/catalog-img3.jpg" alt="">
								<div class="product-card__stickers">
									<span class="sticker sticker--check"><svg class="icon icon-check"><use xlink:href="img/sprite.svg#check"></use></svg></span>
								</div>
							</div>
							<div class="product-card__body">
								
								<div class="product-card__brand">DR.MARTENS</div>
								<div class="product-card__title">8065 Mary Jane Black Smooth</div>
								<div class="product-card__price">
									<div class="price-value">10 900 грн.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="popup__footer">
				<div class="popup__footer-title">Отлично! Теперь вы можете получить подарок!</div>
				<div class="popup__footer-buttons">
					<a href="#" class="btn">Показать выбранное</a>
					<a href="#" class="btn">Очистить выбор</a>
					<a href="#" class="btn btn--warning">Перейти в корзину</a>
				</div>
			</div>
		</div>
	</div>
</div>
