<div id="popup-table-size" class="popup " >
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title "> Рассчитай свой размер</div>
			</div>

			<div class="table-size">
				<ol class="step-list ">
					<li class="step-list__item">
						<div class="step-list__title">Обведите свою стопу на листе, держа карандаш строго вертикально</div>
						<div class="table-size__step ">
							<div class="table-size__step-item table-size__step-item--lg">
								<img src="img/tablesize/1.jpg" alt="">
							</div>
							<div class="table-size__step-item">
								<img src="img/tablesize/2.png" alt="">
								<div><strong>Неправильно</strong></div>
							</div>
							<div class="table-size__step-item">
								<img src="img/tablesize/3.png" alt="">
								<div><strong>Неправильно</strong></div>
							</div>
							<div class="table-size__step-item">
								<img src="img/tablesize/4.png" alt="">
								<div><strong>Правильно</strong></div>
							</div>
						</div>
					</li>
					<li class="step-list__item">
						<div class="step-list__title">Измерьте максимальную длину стопы, от большого пальца до  середины пятки</div>
						<div class="table-size__step2">
							<div class="table-size__step2-item">
								<img src="img/tablesize/5.jpg" alt="">
							</div>
							<div class="table-size__step2-content">
								<p>Эта величина и будет максимальной длиной вашей стопы в сантиметрах. Сравнив этот размер по таблице размеров, вы можете определить свой размер по шкале UK, US и CM</p>
								
								<div class="table-size__play-link">
									<a href="#" class="infobl ">
										<svg class="icon icon-play-alt"><use xlink:href="img/sprite.svg#play-alt"></use></svg>
										<span>Посмотрите видео, если у вас есть вопросы!</span>
									</a>
								</div>
								
							</div>
						</div>
					</li>
					<li class="step-list__item">
						<div class="step-list__title">Определите свой размер по таблице размеров бренда Dr.Martens</div>
						
						<div class="step-list__table">
							<table class="table table--hover text-center">
								<tbody>
									<tr>
										<th>UK</th>
										<th>EUR</th>
										<th>US-M</th>
										<th>US-W</th>
										<th>CM</th>
									</tr>
									<tr>
										<td>3</td>
										<td>36</td>
										<td>4</td>
										<td>5</td>
										<td>22 - 22.5</td>
									</tr>
									<tr>
										<td>4</td>
										<td>37</td>
										<td>5</td>
										<td>6</td>
										<td>23 - 23.5</td>
									</tr>
									<tr>
										<td>5</td>
										<td>38</td>
										<td>6</td>
										<td>7</td>
										<td>24 - 24.5</td>
									</tr>
									<tr>
										<td>6</td>
										<td>39</td>
										<td>7</td>
										<td>8</td>
										<td>25 - 25.5</td>
									</tr>
									<tr>
										<td>7</td>
										<td>41</td>
										<td>8</td>
										<td>9</td>
										<td>26 - 26.5</td>
									</tr>
									<tr>
										<td>8</td>
										<td>42</td>
										<td>9</td>
										<td>10</td>
										<td>27 - 27.5</td>
									</tr>
									<tr>
										<td>9</td>
										<td>43</td>
										<td>10</td>
										<td>11</td>
										<td>28 - 28.5</td>
									</tr>
									<tr>
										<td>10</td>
										<td>45</td>
										<td>11</td>
										<td>12</td>
										<td>29 - 29.5</td>
									</tr>
									<tr>
										<td>11</td>
										<td>46</td>
										<td>12</td>
										<td>13</td>
										<td>30 - 30.5</td>
									</tr>
									<tr>
										<td>12</td>
										<td>47</td>
										<td>13</td>
										<td>14</td>
										<td>31 - 31.5</td>
									</tr>
									<tr>
										<td>6.5</td>
										<td>40</td>
										<td>7.5</td>
										<td>8.5</td>
										<td>25.5 - 26</td>
									</tr>
									<tr>
										<td>9.5</td>
										<td>44</td>
										<td>10.5</td>
										<td>11.5</td>
										<td>28.5 - 29</td>
									</tr>
									<tr>
										<td>13</td>
										<td>48</td>
										<td>14</td>
										<td>15</td>
										<td>32 - 32.5</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
