<div id="popup-contacts" class="popup ">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title ">Мы всегда на связи</div>
			</div>

			
			<div class="row contacts-wrap" >
				<div class="col-md-6 contacts-item">
					
					<div class="contacts-item__title">Отдел продаж:</div>
					<p>Вопросы, касающиеся оформления заказа или консультации по подбору размера, модели и тп.</p>
					<ul class="contacts-list">
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">
								<span class="contacts-list__icon"><svg class="icon icon-telegram"><use xlink:href="img/sprite.svg#telegram"></use></svg></span>
								
								Telegram
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">

								<span class="contacts-list__icon"><svg class="icon icon-tel"><use xlink:href="img/sprite.svg#tel"></use></svg></span>
								WhatsApp
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">
								<span class="contacts-list__icon"><svg class="icon icon-messenger2"><use xlink:href="img/sprite.svg#messenger2"></use></svg></span>
								Messendger
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">
								<span class="contacts-list__icon"><svg class="icon icon-vk"><use xlink:href="img/sprite.svg#vk"></use></svg></span>
								VKontakte
							</a>
						</li>
						
					</ul>
					
				</div>
				<div class="col-md-6 contacts-item">
					
					<div class="contacts-item__title">Отдел поддержки клиентов:</div>
					<p>Вопросы, касающиеся исключительно активных заказов на нашем сайте.</p>
					<ul class="contacts-list">
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">
								<span class="contacts-list__icon"><svg class="icon icon-telegram"><use xlink:href="img/sprite.svg#telegram"></use></svg></span>
								
								Telegram
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">

								<span class="contacts-list__icon"><svg class="icon icon-tel"><use xlink:href="img/sprite.svg#tel"></use></svg></span>
								WhatsApp
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="tel:+79167042870">

								<span class="contacts-list__icon"><svg class="icon icon-tel"><use xlink:href="img/sprite.svg#tel"></use></svg></span>
								 +7(916)7042870
							</a>
						</li>
					</ul>
					
				</div>
				<div class="col-md-6 contacts-item">
					
					<div class="contacts-item__title">Административный отдел:</div>
					<p>Вопросы, касающиеся сотрудничества просьба писать на почту:</p>
					<ul class="contacts-list">
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="mailto:monoadstore@gmail.com">
								<span class="contacts-list__icon"><svg class="icon icon-message"><use xlink:href="img/sprite.svg#message"></use></svg></span>
								
								monoadstore@gmail.com
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="#">
								<span class="contacts-list__icon"><svg class="icon icon-message"><use xlink:href="img/sprite.svg#message"></use></svg></span>
								
								г. Москва, Валдайский пр-д 17/1 кв. 110
							</a>
						</li>
						
					</ul>
					
				</div>
				<div class="col-md-6 contacts-item">
					
					<div class="contacts-item__title">Предложения и жалобы:</div>
					<p>Вопросы, касающиеся технических неполадок на сайте и жалобы требующие срочного внимания:</p>
					<ul class="contacts-list">
						
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="mailto:monoadstore@gmail.com">
								<span class="contacts-list__icon"><svg class="icon icon-message"><use xlink:href="img/sprite.svg#message"></use></svg></span>
								
								Главный менеджер
							</a>
						</li>
						<li class="contacts-list__item">
							<a class="contacts-list__link" href="mailto:monoadstore@gmail.com">
								<span class="contacts-list__icon"><svg class="icon icon-message"><use xlink:href="img/sprite.svg#message"></use></svg></span>
								
								monoadstore@gmail.com
							</a>
						</li>
					</ul>
					
				</div>
			</div>
			
		</div>
	</div>
</div>
