<div id="popup-login" class="popup ">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close">
					<use xlink:href="img/sprite.svg#close"></use>
				</svg></div>

			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title ">Войдите или зарегистрируйтесь</div>
			</div>

			<div class="tab-wrap _tab">
				<nav class="tab-wrap__nav hidden-iphone">
					<div class="tab-wrap__navitem _tab__navitem _active">
						<div class="tab-wrap__navtitle">Я новый покупатель </div>
					</div>
					<div class="tab-wrap__navitem _tab__navitem">
						<div class="tab-wrap__navtitle">Уже зарегистрирован </div>
					</div>

				</nav>
				<div class="tab-wrap__items">
					<!-- Таб для мобилы -->
					<div class="tab-wrap__head _tab__head visible-iphone _active" data-tab-index="0">
						<div class="tab-wrap__title">Я новый покупатель </div>
						<div class="cb-accordion-item__caret"><svg class="icon icon-arrow-down">
								<use xlink:href="img/sprite.svg#arrow-down"></use>
							</svg></div>
					</div>
					<!-- end Таб для мобилы -->
					<div class="tab-wrap__item _tab__item _active">
						<form action="#">
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Email:</label>
								</div>
								<div class="col-md-9">
									<input type="email" class="form-input">
								</div>
							</div>
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Пароль:</label>
								</div>
								<div class="col-md-9">
									<input type="password" class="form-input">
								</div>
							</div>
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Повторите пароль:</label>
								</div>
								<div class="col-md-9 ">
									<input type="password" class="form-input">
								</div>
							</div>
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Пол:</label>
								</div>
								<div class="col-md-9">
									<div class="selectbox">
										<div class="selectbox__head">

											<div class="selectbox__text placeholder">Выберите пол</div>
											<div class="selectbox__caret"></div>
										</div>
										<div class="selectbox__drop">
											<ul>

												<li>Женский</li>
												<li>Мужской</li>
											</ul>
										</div>
									</div>

								</div>
							</div>

							<div class="tab-wrap__footer text-right">
								<input type="submit" value="Регистрация" class="btn btn--warning">
							</div>
						</form>
					</div>
					<!-- Таб для мобилы -->
					<div class="tab-wrap__head _tab__head visible-iphone" data-tab-index="1">
						<div class="tab-wrap__title">Уже зарегистрирован </div>
						<div class="cb-accordion-item__caret"><svg class="icon icon-arrow-down">
								<use xlink:href="img/sprite.svg#arrow-down"></use>
							</svg></div>
					</div>
					<!-- end Таб для мобилы -->
					<div class="tab-wrap__item _tab__item">
						<form action="#">
							<div class="alert">
								<div class="alert__inner alert__wrapicon">
									<span class="alert__icon">
										<svg class="icon icon-warning">
											<use xlink:href="img/sprite.svg#warning"></use>
										</svg>
									</span>
									<div>
										Введите ваш номер телефона, который использовался при регистрации или покупке товара
									</div>
								</div>
							</div>
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Телефон:</label>
								</div>
								<div class="col-md-9">
									<input type="tel" class="form-input">
								</div>
							</div>
							<div class="row form-group align-items-start">
								<div class="col-md-3">
									<label class="form-group__label">Пароль:</label>
								</div>
								<div class="col-md-9">
									<input type="password" class="form-input">

									<div class="form-text">
										<a href="#" class="forgot-link">Забыли пароль?</a>
									</div>
								</div>
							</div>
							<div class="tab-wrap__footer text-right">
								<input type="submit" value="Войти" class="btn btn--warning">
							</div>
						</form>


					</div>


				</div>
			</div>


		</div>
	</div>
</div>