<div id="popup-act-sale" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close">
					<use xlink:href="img/sprite.svg#close"></use>
				</svg></div>
			<div class="popup__head popup__top">
				<div class="popup__top-logo"><img src="img/logo-mini.png" alt=""></div>
				<div class="h2 popup__title">Добавьте к заказу товары со скидкой</div>
			</div>

			<div class="popup__el">


				<!-- Slider atc-sale -->
				<div class="atc-sale">
					<div class="swiper-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img2.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img2.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide atc-item">
								<div class="atc-item__img"><a href="#"><img src="img/atc-img2.jpg" alt=""></a></div>
								<div class="atc-item__body">
									<div class="atc-item__cat">Converse</div>
									<div class="atc-item__title"><a href="#">Chuck Taylor all stars HI Barely Gray</a></div>
									<div class="atc-item__price">
										<span class="price-old">10900</span>
										<span class="price-value">9800 грн.</span>
									</div>
									<div class="atc-item__button">
										<a href="#" class="btn btn--dark">Добавить к заказу</a>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- navigation buttons -->
					<div class="atc-sale-swiper-prev swiper-button-prev">
						<svg class="icon icon-swiper-arrow">
							<use xlink:href="img/sprite.svg#swiper-arrow"></use>
						</svg>
					</div>
					<div class="atc-sale-swiper-next swiper-button-next">
						<svg class="icon icon-swiper-arrow">
							<use xlink:href="img/sprite.svg#swiper-arrow"></use>
						</svg>
					</div>
				</div>

				<div class="hr hr--sm"></div>
				<div class="popup__foot-buttons">
					<button class="btn">Вернуться в корзину</button>
					<button class="btn btn--warning">
						<span class="hidden-sm">Перейти к оформлению</span>
						<span class="visible-sm">Оформить заказ</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>