<div id="popup-thanks-review" class="popup popup--mst">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup">
				<svg class="icon icon-close">
					<use xlink:href="img/sprite.svg#close"></use>
				</svg>
			</div>

			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title ">
					<span class="hidden-iphone">Спасибо за ваш отзыв!</span>
					<span class="visible-iphone">Ваш отзыв о товаре</span>
				</div>
			</div>

			<div class="popup__wrap-wi wrap-wi">
				<div class="wrap-wi__icon">
					<svg class="icon icon-comment-pen">
						<use xlink:href="img/sprite.svg#comment-pen"></use>
					</svg>
				</div>
				<div class="wrap-wi__content">
					<h2 class="visible-iphone">Спасибо за ваш отзыв</h2>
					<p><strong>Маматумба</strong>, благодарим вас за отзыв!</p>
					<p>После проверки он появится на странице товара. Если на него ответят, мы также напишем вам на mamatumba@gmail.com.</p>
				</div>

			</div>

		</div>
	</div>
</div>