<div id="popup-cart2" class="popup">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__head popup__top">
				<div class="popup__top-logo"><img src="img/logo-mini.png" alt=""></div>
				<div class="popup__title ">Корзина товаров</div>
			</div>
			<div class="popup__el">
				<div class="cards-table">
					<a href="#" class="cards-table__item">
						<div class="cards-table__img">
							<img src="img/grt1.jpg" alt="">
						</div>
						<div class="cards-table__content">
							
							<div class="cards-table__favorite btn-favorites">
								<svg class="icon icon-star"><use xlink:href="img/sprite.svg#star"></use></svg>
								<svg class="icon icon-star-filled"><use xlink:href="img/sprite.svg#star-filled"></use></svg>
							</div>
							<div class="cards-table__remove btn-remove">
								<svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg>
							</div>
							
							<div class="cards-table__head ">
								<div class="cards-table__cat">Dr.Martens</div>
								<div class="cards-table__title">Chunk Huck Taylor vintage 70 HI Black/Egret</div>
							</div>

							<div class="cards-table__details ort-details">
								<div class="ort-details__item">
									<div class="ort-details__icon">
										<svg class="icon icon-size"><use xlink:href="img/sprite.svg#size"></use></svg>
									</div>
									<div class="ort-details__content">
										Размер - 42 EUR / 8,5 US Men / 27 см.
									</div>
								</div>
								<div class="ort-details__item">
									<div class="ort-details__icon">
										<svg class="icon icon-track"><use xlink:href="img/sprite.svg#track"></use></svg>

									</div>
									<div class="ort-details__content toltipe-wrap _toltipe-toggle">
										<span class="dotted">Бесплатная доставка 5-10 дней</span>
										<div class="toltipe toltipe--top-center">
											Здесь будет выводиться информационное
											сообщение, объясняющее, почему доставка
											будет длиться так долго или так быстро
										</div>
									</div>
								</div>
							</div>

							<div class="cards-table__price">
								<span class="price-value">2750.00 грн.</span>
							</div>
						</div>
					</a>
					<a href="#" class="cards-table__item">
						<div class="cards-table__img">
							<img src="img/grt1.jpg" alt="">
						</div>
						<div class="cards-table__content">
							<div class="cards-table__favorite btn-favorites">
								<svg class="icon icon-star"><use xlink:href="img/sprite.svg#star"></use></svg>
								<svg class="icon icon-star-filled"><use xlink:href="img/sprite.svg#star-filled"></use></svg>
							</div>
							<div class="cards-table__remove btn-remove">
								<svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg>
							</div>

							
							<div class="cards-table__head ">
								<div class="cards-table__cat">Dr.Martens</div>
								<div class="cards-table__title">Chunk Huck Taylor vintage 70 HI Black/Egret</div>
							</div>

							<div class="cards-table__details ort-details">
								<div class="ort-details__item">
									<div class="ort-details__icon">
										<svg class="icon icon-size"><use xlink:href="img/sprite.svg#size"></use></svg>
									</div>
									<div class="ort-details__content">
										Размер - 42 EUR / 8,5 US Men / 27 см.
									</div>
								</div>
								<div class="ort-details__item">
									<div class="ort-details__icon">
										<svg class="icon icon-track"><use xlink:href="img/sprite.svg#track"></use></svg>

									</div>
									<div class="ort-details__content toltipe-wrap _toltipe-toggle">
										<span class="dotted">Бесплатная доставка 5-10 дней</span>
										<div class="toltipe toltipe--top-center">
											Здесь будет выводиться информационное
											сообщение, объясняющее, почему доставка
											будет длиться так долго или так быстро
										</div>
									</div>
								</div>
							</div>
							<div class="cards-table__price">
									<span class="price-value">2750.00 грн.</span>
								</div>
						</div>
					</a>

				</div>

				<div class="total-box">
					<table class="total-table">
						<tr>
							<td>Стоимость товаров:</td>
							<td>3600 грн</td>
						</tr>
						
						<tr>
							<td>Стоимость доставки:</td>
							<td>Бесплатно</td>
						</tr>
						<tr class="total-table__last">
							<td>
								
								<span>Общая стоимость:</span>
							</td>
							<td>3600 грн</td>
						</tr>
					</table>
				</div>

				<div class="popup__foot-buttons">
					<button class="btn">Продолжить покупки</button>
					<button class="btn btn--warning">Оформить заказ</button>
				</div>
			</div>
		</div>
	</div>
</div>
