<div id="popup-table-size2" class="popup " >
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title "> Рассчитай свой размер</div>
			</div>

			<div class="table-size">
				<div class="step-list ">
					<div class="table-size__wrap">
						<div class="table-size__wrap-img"><img src="img/tablesize/6.jpg" alt=""></div>
						<div class="table-size__wrap-item hidden-md">
							<div class="step-list__item " data-da="table-size__wrap-content, first, 1024">
								<div class="step-list__number">1</div>
								<div class="step-list__title">Талия</div>
								<p>Измерьте талию в наименее узкой части. Держите сантиметровую ленту строго горизонтально</p>
							</div>
						</div>
						<div class="table-size__wrap-content">
							<div class="step-list__item">
								<div class="step-list__number">2</div>
								<div class="step-list__title">Груди</div>
								<p>Измерьте параметры между крайними точками грудей. Держите сантиметровую ленту горизонтально</p>
							</div>
							<div class="step-list__item">
								<div class="step-list__number">3</div>
								<div class="step-list__title">Бёдра</div>
								<p>Измерьте длину, удерживая сантиметровую лету строго горизонтально</p>
							</div>
						</div>
					</div>

					<div class="step-list__item">
						<div class="step-list__number">4</div>
						<div class="step-list__title">Определите свой размер по таблице размеров бренда Dr.Martens</div>
						<p>Получив нужные размеры, определите размер согласно этой таблицы. Если у вас спорный размер, тогда выберите меньший размер, чтобы одежда плотно вас облегала, или же больший размер, чтобы она была свободной. Если размеры грудей и талии соответствуют двум разным размерам, ориентируйтесь на длину грудной части.</p>
						<br class="hidden-iphone">
						<div class="step-list__table">
							<table class="table table--hover text-center">
								<tbody>
									<tr>
										<th></th>
										<th>Груди</th>
										<th>Талия</th>
										<th>Бёдра</th>
										<th></th>
									</tr>


									<tr>
										<td>XS</td>
										<td>84 - 89</td>
										<td>63,5 - 70</td>
										<td>82,5 - 88</td>
										<td>40 - 42</td>
									</tr>
									<tr>
										<td>S</td>
										<td>90 - 97</td>
										<td>71 - 77</td>
										<td>89 - 96</td>
										<td>44</td>
									</tr>
									<tr>
										<td>M</td>
										<td>98 - 105</td>
										<td>78 - 85</td>
										<td>97 - 104</td>
										<td>46 - 48</td>
									</tr>
									<tr>
										<td>L</td>
										<td>106 - 115</td>
										<td>86 - 93</td>
										<td>105 - 111</td>
										<td>50</td>
									</tr>
									<tr>
										<td>XL</td>
										<td>113 - 123</td>
										<td>94 - 103</td>
										<td>112 - 122,5</td>
										<td>52 - 54</td>
									</tr>
									<tr>
										<td>XXL</td>
										<td>124 - 132</td>
										<td>104 - 112</td>
										<td>123,5 - 131</td>
										<td>56</td>
									</tr>
									<tr>
										<td>XXXL</td>
										<td>132 - 140</td>
										<td>112 - 122</td>
										<td>132 - 138</td>
										<td>58</td>
									</tr>
									
								</tbody>
							</table>
						</div>
							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
