<div id="popup-edit-size" class="popup ">
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__close _close-popup"><svg class="icon icon-close"><use xlink:href="img/sprite.svg#close"></use></svg></div>
			<div class="popup__top">
				<div class="popup__top-logo">
					<img src="img/logo-mini.png" alt="">
				</div>
				<div class="popup__title ">Редактирование размера</div>
			</div>
			<p class="popup__description">Мы мониторим ваши размеры по нескольким брендам. Выберите бренд, чтобы изменить размер или удалить его.</p>

			<div class="tab-wrap _tab">
				<nav class="tab-wrap__nav hidden-iphone">
					<div class="tab-wrap__navitem _tab__navitem _active">
						<div class="tab-wrap__navtitle">Dr.martens</div>
					</div>
					<div class="tab-wrap__navitem _tab__navitem">
						<div class="tab-wrap__navtitle">Convense</div>
					</div>
				</nav>
				<div class="tab-wrap__items">
					<!-- Таб для мобилы -->
					<div class="tab-wrap__head _tab__head visible-iphone _active" data-tab-index="0">
						<div class="tab-wrap__title">Dr.martens</div>
						<div class="cb-accordion-item__caret"><svg class="icon icon-arrow-down"><use xlink:href="img/sprite.svg#arrow-down"></use></svg></div>
					</div>
					<!-- end Таб для мобилы -->
					<div class="tab-wrap__item _tab__item _active">
						<div class="edit-size">
							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text ">Dr.Martens</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li class="selected">Dr.Martens</li>
										<li>Dr.Martens 2</li>
										<li>Dr.Martens 3</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text">Ботинки</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li class="selected">Ботинки</li>
										<li>категория 1</li>
										<li>категория 1</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text placeholder">Укажите свой размер</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li>36 EUR</li>
										<li>36 EUR</li>
										<li>36 EUR</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text placeholder">Какая у вас стопа?</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li>36 EUR</li>
										<li>36 EUR</li>
										<li>36 EUR</li>
									</ul>
								</div>
							</div>

							<div class="edit-size__footer">
								<a href="#" class="btn">Удалить бренд</a>
								<a href="#" class="btn btn--dark">Сохранить размер</a>
							</div>
						</div>
					</div>
					<!-- Таб для мобилы -->
					<div class="tab-wrap__head _tab__head visible-iphone" data-tab-index="1">
						<div class="tab-wrap__title">Convense</div>
						<div class="cb-accordion-item__caret"><svg class="icon icon-arrow-down"><use xlink:href="img/sprite.svg#arrow-down"></use></svg></div>
					</div>
					<!-- end Таб для мобилы -->
					<div class="tab-wrap__item _tab__item">
						<div class="edit-size">
							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text ">CONVENSE</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li class="selected">CONVENSE</li>
										<li>CONVENSE 2</li>
										<li>CONVENSE 3</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text">Ботинки</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li class="selected">Ботинки</li>
										<li>категория 1</li>
										<li>категория 1</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text placeholder">Укажите свой размер</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li>36 EUR</li>
										<li>36 EUR</li>
										<li>36 EUR</li>
									</ul>
								</div>
							</div>

							<div class="selectbox">
								<div class="selectbox__head">
									<div class="selectbox__text placeholder">Какая у вас стопа?</div>
									<div class="selectbox__caret"></div>
								</div>
								<div class="selectbox__drop">
									<ul>
										<li>36 EUR</li>
										<li>36 EUR</li>
										<li>36 EUR</li>
									</ul>
								</div>
							</div>

							<div class="edit-size__footer">
								<a href="#" class="btn">Удалить бренд</a>
								<a href="#" class="btn btn--dark">Сохранить размер</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</div>

