<div class="section-box mt-lg-7 mt-4">
	<div class="row g-xxl-6 g-lg-5 g-3 flex-xxl-nowrap align-items-center">
		<div class="col-xxl-auto  arhive-col-content">
			<h3 class="section-box__title">@@title</h3>
			<div class="seo-text">
				<p>CORE - линейка вобрала в себя все эталонные силуэты The Icons, где основным отличием стал материал изделий. Модели Core выполняются как из сезонных видов кожи так и тех, которые спустя время стали.</p>
				<a href="#" class="btn btn--dark btn--iphone-static">Смотреть все фото</a>
			</div>
		</div>

		<div class="col-xxl arhive-col-images  ps-xxl-7">
			<div class="arhive-swiper" data-window-gallery>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide ">
							<div class="arhive-item" data-open-window>
								<img src="img/collection/arhiver-img-1.jpg" alt="" data-window-img="img/collection/arhiver-img-1-big.jpg">
								<div class="arhive-item__wrap " data-window-info>
									<div class="arhive-item__title mb-3"><span class="t-line">1460 Pascal Brown</span></div>
									<div class="d-flex ">
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Год выпуска: </div>
											<div class="arhive-item__labels-text">2009 г.</div>
										</div>
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Снято с продажи: </div>
											<div class="arhive-item__labels-text">2021 г.</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="arhive-item" data-open-window>
								<img src="img/collection/arhiver-img-2.jpg" alt="" data-window-img="img/collection/arhiver-img-2-big.jpg">
								<div class="arhive-item__wrap" data-window-info>
									<div class="arhive-item__title mb-3"><span class="t-line">1460 Pascal Brown</span></div>
									<div class="d-flex ">
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Год выпуска: </div>
											<div class="arhive-item__labels-text">2009 г.</div>
										</div>
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Снято с продажи: </div>
											<div class="arhive-item__labels-text">2021 г.</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="arhive-item" data-open-window>
								<img src="img/collection/arhiver-img-1.jpg" alt="" data-window-img="img/collection/arhiver-img-1-big.jpg">
								<div class="arhive-item__wrap" data-window-info>
									<div class="arhive-item__title mb-3"><span class="t-line">1460 Pascal Brown</span></div>
									<div class="d-flex ">
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Год выпуска: </div>
											<div class="arhive-item__labels-text">2009 г.</div>
										</div>
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Снято с продажи: </div>
											<div class="arhive-item__labels-text">2021 г.</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="arhive-item" data-open-window>
								<img src="img/collection/arhiver-img-1.jpg" alt="" data-window-img="img/collection/arhiver-img-1-big.jpg">
								<div class="arhive-item__wrap" data-window-info>
									<div class="arhive-item__title mb-3"><span class="t-line">1460 Pascal Brown</span></div>
									<div class="d-flex ">
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Год выпуска: </div>
											<div class="arhive-item__labels-text">2009 г.</div>
										</div>
										<div class="arhive-item__labels">
											<div class="arhive-item__labels-title">Снято с продажи: </div>
											<div class="arhive-item__labels-text">2021 г.</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="swiper-pagination swiper-pagination--static visible-laptop"></div>
					<div class=" swiper-button-prev hidden-laptop">
						<svg class="icon icon-swiper-arrow">
							<use xlink:href="img/sprite.svg#swiper-arrow"></use>
						</svg>
					</div>
					<div class=" swiper-button-next hidden-laptop">
						<svg class="icon icon-swiper-arrow">
							<use xlink:href="img/sprite.svg#swiper-arrow"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>